.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; 
    width: 1440px;
}

body {
    width:100vw; 
    height:100vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75) ;
}

h1 {
    color: hsl(0, 0%, 95%);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
}

.learnbtn {
    align-items: center;
    border-color: white;
    border-width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: auto;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
}
