body {
    width:100vw; 
    height:100vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75) ;
    font-size: 15px;
    font-family:Lexend Deca;
    font-weight: 400;
    margin-left: 70px;
    margin-right: 50px;
}

a {
    font-size: 15px;
    font-size: 15px;
    font-family:Lexend Deca;
    font-weight: 400;
}

img {
    margin-left: 70px;
    margin-top:50px;
}

h1 {
    color: hsl(0, 0%, 95%);
    margin-left: 70px;
    font-family:Big Shoulders Display;
    font-weight: 700;
    font-size: 50px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
    width: fit-content;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    width: fit-content;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;
    width: fit-content;
}

.learnbtn {
    display: flex;
    width: fit-content;
    border: 2px solid white;
    border-radius: 40px 40px 40px 40px;
    align-items: center;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.inline {
    display: inline;
}

 * {
   box-sizing: border-box;
 }
 
 .col-container {
   display: table;
   width: 100%;
 }
 .col {
   display: table-cell;
   padding: 16px;
 }
 
 @media only screen and (max-width: 600px) {
   .col { 
     display: block;
     width: 100%;
   }
 }

 @media (min-width:600px) {
    body {
        margin: auto;
        width:50vw; 
    }
 }

 @media (max-width:600px) {
    body {
        height: 150vh;
    }
 }